body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100vh;
    
    overflow: hidden;
    background-color: #f4f4f4;
    justify-content: flex-start;
}

#main-title {
    font-size: 2rem;
    white-space: nowrap;
    color: #333;
    font-weight: bold;
    position: relative; /* Añadir */
    top: 20px; /* Ajusta el valor según necesites */
    margin: 0; /* Elimina el margen para evitar interferencias */
    width: 100%;
    text-align: center;
}

#container {
    display: flex;
    margin: 80px 0 0 0;
    justify-content: flex-start; /* Alinear los elementos al inicio (izquierda) */
    align-items: stretch;
    gap: 30px; /* Espacio entre el mapa y la caja de información */
    width: 100%;
    height: calc(100vh - 70px); /* Resta la altura del título */
    padding-left: 20px; /* Margen izquierdo para el contenedor */
}

#map-container {
    width: 60%; /* Ajuste para el mapa más grande */
    max-width: 800px; /* Tamaño máximo del mapa */
    height: 100%;
    display: flex;
    justify-content: flex-start; /* Centrar el contenido del mapa */
    align-items: center;
}

#region-info {
    width: 40%; /* Ajusta según tu diseño */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border: 2px solid #ddd; /* Define el grosor y color del borde */
    border-radius: 8px; /* Añadir bordes redondeados opcionales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para darle más definición */
    height: 90%; /* Ajusta el alto para evitar el desplazamiento */
    box-sizing: border-box; 
    overflow-y: auto; /* Permite desplazamiento si el contenido es largo */
}

.region {
    fill: #484848;
    cursor: pointer;
    transition: fill 0.3s;
}

.region:hover {
    fill: #007bff;
}

.activar {
    fill: #ff5722;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

#region-name {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: bold;
}

#region-details {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

#pieChart {
    max-width: 300px; /* Ancho máximo del gráfico */
    max-height: 300px; /* Alto máximo del gráfico */
    width: 100%; /* Ajustar el ancho al contenedor */
    height: auto; /* Ajustar la altura automáticamente */
    margin: 0 auto; /* Centrar el gráfico */
    display: block;
}
